*{
    margin:0% ;
    padding:0% ;
    background-color:blanchedalmond;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vmin;
}

#main{
    height: 50vmin;
display: flex;
justify-content:space-evenly ;
align-items: center;
}

.box{
    height:18vmin;
    width: 18vmin;
    border:2px solid black;
    font-size: large;
    font-weight: bold;
    border-radius: 8%;

}

#rock{
   
   
    background-image: url("rock.png");
    background-size: cover;
   
} 
#rock:hover{
    border:8px solid black;
}

#paper{
   
    background-image: url("paper.png");
    background-size: cover;
    
   
} 
#paper:hover{
    border:8px solid black;
}
#scissor{
   
    background-image: url("scissor.png");
    background-size: cover;
    
} 
#scissor:hover{
    border:8px solid black;
}

.score{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    font-weight: bold;
}
#userScore{
    position:relative;
    left: -12.5%;
}
#pcScore{
    position:relative;
    left: -3.5%;
}


.div_reset{
    display: flex;
    justify-content: center;
    height:15vmin;
    align-items: center;
    
}

#reset{
height: 4vmin;
width:12vmin;
background-color:cornflowerblue;

}
#computer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20 rem;
    width:17vmin;
    height: 10vmin;
    margin-left: 2%;
    background-color: rgb(48, 41, 41);
    font-size:4vmin;
    color:white;
    
}